/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
}
.header {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./../img/beachshowcase.jpg");
  text-align: center;
}
.header-title {
  padding-top: 40vh;
}
.header-text {
  font-size: 20px;
  padding-bottom: 20px;
}
.header-link {
  display: inline-block;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #926239;
  border-radius: 10px;
  padding: 10px 20px;
}
.header-link:hover {
  background-color: #926239;
  color: white;
}
.content-title {
  opacity: 0;
  position: absolute;
}
.main-content {
  background-color: #926239;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.inverted-colors {
  background-color: #f4f4f4;
  color: #926239;
}
.footer {
  font-size: 0;
}
.footer-content {
  width: 33.33%;
  display: inline-block;
  padding: 20px;
  background-color: #926239;
  color: #ffffff;
}
.footer-inverted-colors {
  background-color: #ffffff;
  color: #926239;
}
